package-lock.json
# pnpm-lock.yaml
yarn.lock
node_modules

dist
build
.npmrc

# vitepress
**/.vitepress/dist
**/.vitepress/cache

# e2e
test/e2e/fixtures/dist
test/e2e/fixtures/.scaffold
test/e2e/fixtures/typings
test/e2e/fixtures/.gitignore
!test/e2e/snap/dist
