package-lock.json
# pnpm-lock.yaml
yarn.lock
node_modules

dist
build
.npmrc

# vitepress
**/.vitepress/dist
**/.vitepress/cache

# e2e
e2e/fixtures/dist
e2e/fixtures/.scaffold
e2e/fixtures/typings
e2e/fixtures/.gitignore
!e2e/snap/dist