{
  "tabWidth": 2,
  "printWidth": 80,
  "overrides": [
    {
      "files": ["*.ts", "*.js", "*.mjs", "*.cjs"],
      "options": {
        "tabWidth": 2
      }
    }
  ],
  
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy",
    "importAssertions"
  ]
}
